In [1]:
import pandas as pd
import numpy as np
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
warnings.filterwarnings("ignore")

In [2]:
# LOAD DATA
train_df= pd.read_csv('../data/train.csv')
test_df = pd.read_csv('../data/test.csv')
store_df = pd.read_csv('../data/store.csv')

In [8]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from cleaner import DfCleaner
from df_outlier import DfOutlier
from file_handler import FileHandler

from df_overview import DfOverview
from vis_seaborn import VisSeaborn

In [9]:
sn = VisSeaborn()
file_handler = FileHandler()

In [10]:
stores_types = ["Store type A", "Store type B", "Store type C", "Store type D"]
state_holidays = [ "Normal Day", "Public holiday", "Easter holiday", "Christmas"] 
school_holidays = ["School is closed", "School is open"]
assortment = [ "Basic", "Extra", "Extended"] 
promo = ["Not participating", "Participating"]
store_open = ["Closed", "Open"]

#  Exploration of customer purchasing behavior

step 1 Check for distribution in both training and test sets - are the promotions distributed similarly between these two groups?

In [18]:
train_data= train_df.copy()
test_data = test_df.copy()
train_data

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263.0,555.0,1,1,0,1
1,2,5,2015-07-31,6064.0,625.0,1,1,0,1
2,3,5,2015-07-31,8314.0,821.0,1,1,0,1
3,4,5,2015-07-31,13995.0,1485.0,1,1,0,1
4,5,5,2015-07-31,4822.0,559.0,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0.0,0.0,0,0,a,1
1017205,1112,2,2013-01-01,0.0,0.0,0,0,a,1
1017206,1113,2,2013-01-01,0.0,0.0,0,0,a,1
1017207,1114,2,2013-01-01,0.0,0.0,0,0,a,1
1017208,1115,2,2013-01-01,0.0,0.0,0,0,a,1

In [12]:
def compare_test_train(train_data, test_data, feature, title):
  fig, ax = plt.subplots(1, 2, sharex=True, figsize=(12, 4))
  ax[0].set_title("Train " + title)
  sns.countplot(x=feature, data=train_data, ax=ax[0])
  ax[1].set_title("Test " + title)
  sns.countplot(x=feature, data=test_data, ax=ax[1])
  fig.subplots_adjust(wspace=0.3)
  fig.show()

In [17]:
train_data["Promo"] = train_data["Promo"].apply(lambda x: promo[x])
test_data["Promo"] = test_data["Promo"].apply(lambda x: promo[x])
compare_test_train(train_data, test_data, 'Promo', "Promotion Count")

TypeError: list indices must be integers or slices, not str

In [19]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  float64
 4   Customers      1017209 non-null  float64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: float64(2), int64(5), object(2)
memory usage: 69.8+ MB

In [20]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41088 entries, 0 to 41087
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             41088 non-null  int64
 1   Store          41088 non-null  int64
 2   DayOfWeek      41088 non-null  int64
 3   Date           41088 non-null  object
 4   Open           41077 non-null  float64
 5   Promo          41088 non-null  int64
 6   StateHoliday   41088 non-null  object
 7   SchoolHoliday  41088 non-null  int64
dtypes: float64(1), int64(5), object(2)
memory usage: 2.5+ MB